<gms-navbar-primary
  #navbar
  [class.gms-has-navbar-titlebar-fixed-top-navbar]="runsInElectron"
  [hfwFrames]="frames"
  [primaryItems]="primaryItems"
  [isMainManager]="isMainManager"
  (utilityPanelChanged)="onUtilityPanelChanged($event)"
  >
</gms-navbar-primary>

<si-navbar-vertical
  [class.gms-has-navbar-titlebar-fixed-top-lp]="runsInElectron"
  [collapsed]="true"
  [items]="currentVerticalItems"
  [visible]="isVerticalVisible"
>
  <si-side-panel
    [class.gms-has-navbar-titlebar-fixed-top-rp]="runsInElectron"
    [collapsible]="isRPCollapsible"
    [mode]="'scroll'"
    (contentResize)="contentResize()"
  >
    <router-outlet></router-outlet>

    <si-side-panel-content
            *ngIf="currentFrameId === 'system-manager'"
            id="system-right-panel-content"
            [heading]="systemRP?.selectedNodeHeading !== undefined ? systemRP.selectedNodeHeading : ''"
            [primaryActions]="systemRP?.primaryActions !== undefined ? systemRP.primaryActions : []"
            [secondaryActions]="systemRP?.secondaryActions !== undefined ? systemRP.secondaryActions : []"
            [statusActions]="systemRP?.statusActions !== undefined ? systemRP.statusActions : []"
            [searchable]="true"
            [searchPlaceholder]="systemRP?.placeholderFilter !== undefined ? systemRP.placeholderFilter : ''"
            (searchEvent)="systemRP.onFilterChange($event)"
    >
      <gms-sytem-rp #systemRP class="display-fit" [frameId]="'system-manager'" [parentId]="'system-right-panel-content'"
                    [isRightPanelExpanded]="rightPanelExpandFlag"></gms-sytem-rp>
    </si-side-panel-content>

    <si-side-panel-content
      *ngIf="currentFrameId === 'event-list'"
      id="event-right-panel-content"
      [heading]="systemRP?.selectedNodeHeading"
      [primaryActions]="systemRP?.primaryActions"
      [secondaryActions]="systemRP?.secondaryActions"
      [statusActions]="systemRP?.statusActions"
      [searchable]="true"
      [searchPlaceholder]="systemRP?.placeholderFilter"
      (searchEvent)="systemRP.onFilterChange($event)"
    >
      <gms-sytem-rp #systemRP class="display-fit" [frameId]="'event-list'" [parentId]="'event-right-panel-content'" [displayRelatedItems]="false"></gms-sytem-rp>
    </si-side-panel-content>

  </si-side-panel>
</si-navbar-vertical>
