@import '@simpl/element-theme/src/styles/variables';

.certificate-error-cursor {
  cursor: pointer;
}

.certificate-error-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
